@font-face {
    font-family: "Digital";
    src: url('../fonts/digital.ttf')
}

body {

    background-image: url('../images/dog.jpg');

    h1 {
        color: white;

        span {
            color: black;
            font-family: 'Digital';

            &:hover {
                color: white;
            }
        }
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
}

.fadeout {
    animation-name: fadeout;
    animation-duration: 500ms;
}